In [2]:
import pandas as pd
import numpy as np

In [3]:
store_objects = np.random.randint(1 , 20 , size= (7,5))
store_objects

array([[16, 11,  6, 11,  3],
       [13,  3, 14, 16, 12],
       [13,  2, 17,  3, 16],
       [ 2, 18,  1,  5, 13],
       [19, 17, 13, 15, 15],
       [18, 13,  4,  2, 10],
       [ 1,  9, 10, 18,  8]])

In [16]:
object_prices = np.array([ 20 , 30 , 10 , 15 , 40 ])
object_prices

array([20, 30, 10, 15, 40])

In [6]:
store_obj_panda = pd.DataFrame(store_objects , index=["Sun" , "Mon" , "Tues" , "Wed" , "Thur" , "Fri" , "Sat"] , columns=["Lays" , "Pepsi" , "Butter" , "Crakers" , "Biscuits"])
store_obj_panda

      Lays  Pepsi  Butter  Crakers  Biscuits
Sun     16     11       6       11         3
Mon     13      3      14       16        12
Tues    13      2      17        3        16
Wed      2     18       1        5        13
Thur    19     17      13       15        15
Fri     18     13       4        2        10
Sat      1      9      10       18         8

In [19]:
total_sales=np.dot(store_obj_panda, object_prices)

In [21]:
store_obj_panda["Total Sales ($)"] = total_sales
store_obj_panda

      Lays  Pepsi  Butter  Crakers  Biscuits  Total Sales ($)
Sun     16     11       6       11         3              995
Mon     13      3      14       16        12             1210
Tues    13      2      17        3        16             1175
Wed      2     18       1        5        13             1185
Thur    19     17      13       15        15             1845
Fri     18     13       4        2        10             1220
Sat      1      9      10       18         8              980